@import "../../styles/common/variables";
@import "../../styles/common/typography";

.table {
  display: grid;
  grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 1.33fr) minmax(150px, 1.33fr) minmax(150px, 1.33fr);
  margin-top: 10px;

  &-head,
  &-footer,
  &-body,
  &-head-row {
      display: contents;
  }

  &-head-title {
      padding: 10px 0;
      color: $color-primary;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      margin: -1px 0;
      cursor: pointer;

      &:not(:last-child) {
          border-right: 1px solid $color-secondary;
      }
  }

  &-footer {

    &-row {
      width: 400%;
      background: #333;
      color: #fff;
    }

    &-cell {
      display: flex;
      padding: 5px;
    }
    
    &-pagination {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-paging {
      display: flex;
      gap: 10px;
    }
    
    &-button {
      cursor: pointer;
    }
  }
  
}
